
<div ng-controller="DvolEditDatastoreController" class="edit-datastore-dialog">

  <div class="vui-stack-view">
    <div class="stack-view-table">

        <div vui-stack-block="nameBlock">
          <span vui-sb-label>
            Create
          </span>
           <div vui-sb-content>
              <input type="checkbox"
                 focus-me="'select'"
                 ng-model="datastore.create"
                 title="Create permission"/>
           </div>
        </div>

     </div>

  </div>

</div>
